* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

img {
  display: block;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url(../fonts/MontserratAlternates-Bold.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url(../fonts/MontserratAlternates-Medium.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --container-width: 1160px;
  --container-padding-x: 15px;
  --section-padding-y: 140px;
  --color-light: #FFFFFF;
  --color-light-alt: #F7EDE8;
  --color-gray: #4D4D4D;
  --color-dark: #000000;
  --color-accent: #CD4631;
  --color-blue: #81ADC8;
  --font-family-base: "Montserrat Alternates", sans-serif;
  --transition-duration: 0.3s;
  --border-radius: 8px;
  --border-radius--large: 12px;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.display-heading {
  font-size: clamp(55px, 6.6666666667vw, 96px);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.04em;
}
.display-heading span {
  color: var(--color-accent);
}

.h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.h2 {
  font-size: clamp(25px, 2.5vw, 36px);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
}
.h2--large {
  line-height: 1.4;
}

.h3 {
  font-size: clamp(18px, 1.5277777778vw, 22px);
  font-weight: 500;
  line-height: 1.6;
}
.h3--bold {
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.text {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  font-weight: 500;
  line-height: 1.6;
}
.text--bold {
  font-weight: 700;
}

.caption {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
}
.caption--bold {
  font-weight: 700;
}

.small {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6;
}
.small--bold {
  font-weight: 700;
}

body {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  font-weight: 500;
  line-height: 1.6;
  font-family: var(--font-family-base);
  color: var(--color-gray);
  overflow-x: hidden;
}

a,
button {
  transition-duration: var(--transition-duration);
}

.button {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
  display: inline-block;
  line-height: 1.2;
  padding: 18px 34px;
  background-color: var(--color-dark);
  border-radius: var(--border-radius);
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-dark);
  color: var(--color-light);
  text-transform: uppercase;
}
@media (hover: hover) {
  .button:hover {
    background-color: transparent;
    color: var(--color-dark);
  }
}
@media (hover: none) {
  .button:active {
    background-color: transparent;
    color: var(--color-dark);
  }
}
.button--small {
  padding: 10px 22px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}
.button--transparent {
  background-color: transparent;
  color: var(--color-dark);
  box-shadow: none;
}
@media (hover: hover) {
  .button--transparent:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}
@media (hover: none) {
  .button--transparent:active {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}

.cover {
  position: relative;
  width: 472px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: var(--border-radius--large);
}
.cover--small {
  width: 372px;
}
@media (max-width: 1025px) {
  .cover--small {
    width: 250px;
  }
}
@media (max-width: 768px) {
  .cover--small {
    width: 200px;
  }
}
.cover__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.cover__platforms {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.cover__title {
  font-size: clamp(25px, 2.5vw, 36px);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: var(--color-blue);
  letter-spacing: -0.08em;
}
@media (max-width: 1025px) {
  .cover__title {
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
}

.scribble {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 46px;
  height: 150px;
  background-image: url(../images/decor/scribble.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .scribble {
    display: none;
  }
}
.scribble--dark {
  background-image: url(../images/decor/scribble-dark.svg);
}

.title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--color-dark);
}

.heading {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.heading__text {
  font-size: clamp(18px, 1.5277777778vw, 22px);
  font-weight: 500;
  line-height: 1.6;
  color: var(--color-gray);
}

.quote {
  position: relative;
  padding-block: 40px;
  background-color: var(--color-light-alt);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.quote::before, .quote::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.quote:before {
  bottom: 53px;
  left: -60px;
  width: 120px;
  height: 120px;
  background-image: url(../images/decor/spring.svg);
}
.quote::after {
  top: -55px;
  right: -46px;
  width: 147px;
  height: 153px;
  background-image: url(../images/decor/star.svg);
}
.quote__content {
  text-align: center;
}
.quote__icon {
  font-size: clamp(55px, 6.6666666667vw, 96px);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.04em;
  letter-spacing: -0.02em;
  color: var(--color-accent);
}
.quote__text {
  font-size: clamp(25px, 2.5vw, 36px);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
  max-width: 670px;
  color: var(--color-dark);
}

.author {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  color: var(--color-dark);
}
.author__info {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.author__image {
  border-radius: 50%;
}
.author__name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
}
.author__post {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.author__post span {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
}

.burger-button {
  width: 40px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1025px) {
  .burger-button {
    display: flex;
  }
}
.burger-button span {
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--color-dark);
}

.header {
  padding-block: 24px;
  background-color: var(--color-light-alt);
}
@media (max-width: 1025px) {
  .header {
    padding-block: 14px;
  }
}

.top {
  position: relative;
  background-color: var(--color-light-alt);
}
.top::before, .top::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1200px) {
  .top::before, .top::after {
    display: none;
  }
}
.top::before {
  width: 326px;
  height: 593px;
  top: -52px;
  left: 0;
  background-image: url(../images/decor/swirl.svg);
}
.top::after {
  width: 92px;
  height: 167px;
  top: 72px;
  right: 0;
  background-image: url(../images/decor/stars.png);
}

.first-screen {
  padding-block: 40px 140px;
}
@media (max-width: 768px) {
  .first-screen {
    padding-block: 20px 60px;
  }
}
.first-screen::after {
  width: 156px;
  height: 217px;
  background-image: url(../images/decor/stars-large.png);
  right: 58px;
  top: 113px;
}
.first-screen__content {
  max-width: 543px;
  text-align: center;
}
.first-screen__title {
  color: var(--color-dark);
  margin-bottom: 40px;
}
@media (max-width: 1025px) {
  .first-screen__title {
    margin-bottom: 20px;
  }
}
.first-screen__text {
  max-width: 300px;
  margin-inline: auto;
  margin-bottom: 60px;
}
@media (max-width: 1025px) {
  .first-screen__text {
    margin-bottom: 30px;
  }
}
.first-screen__button {
  padding: 22px 48px;
}

.covers {
  position: relative;
  margin-block: 120px;
  overflow-x: hidden;
  height: 372px;
}
@media (max-width: 1025px) {
  .covers {
    margin-block: 80px;
    height: 250px;
  }
}
@media (max-width: 768px) {
  .covers {
    height: 200px;
    margin-block: 50px;
  }
}
.covers__track {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  animation: infinite-move 20s linear infinite;
}
.covers__track:hover {
  animation-play-state: paused;
}
.covers__list {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-inline: 10px;
}

@keyframes infinite-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.platforms {
  position: relative;
  padding-block: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1025px) {
  .platforms {
    padding-block: 40px;
  }
}
@media (max-width: 768px) {
  .platforms {
    flex-direction: column;
    row-gap: 30px;
  }
}
@media (max-width: 520px) {
  .platforms {
    padding-block: 30px;
  }
}
.platforms::before, .platforms::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--color-gray);
}
.platforms::before {
  top: -1px;
}
.platforms::after {
  bottom: -1px;
}
.platforms__title {
  font-size: clamp(18px, 1.5277777778vw, 22px);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: var(--color-dark);
}
.platforms__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 865px;
}
@media (max-width: 1025px) {
  .platforms__list {
    justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  .platforms__list {
    flex-direction: column;
    row-gap: 30px;
    flex-basis: auto;
  }
}

.main-about {
  position: relative;
  padding-block: var(--section-padding-y);
  text-align: center;
}
.main-about__title {
  max-width: 745px;
  margin-inline: auto;
}
.main-about__content {
  display: flex;
  justify-content: space-between;
  padding-block: 100px 120px;
}
.main-about__item {
  max-width: 472px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
}

.benefits {
  position: relative;
  padding-block: var(--section-padding-y);
  text-align: center;
}
.benefits__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
}
.benefits__title {
  position: relative;
}
.benefits__title::after {
  content: "";
  position: absolute;
  top: -94px;
  right: -88px;
  width: 212px;
  height: 138px;
  background-image: url(../images/decor/decor-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.benefits__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 20px;
}
.benefits__item {
  max-width: 373px;
}
.benefits__item-icon {
  margin-inline: auto;
  margin-bottom: 30px;
}
.benefits__item-title {
  font-size: clamp(18px, 1.5277777778vw, 22px);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
  color: var(--color-dark);
}
.benefits__item-text {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  font-weight: 500;
  line-height: 1.6;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin-inline: 118px auto;
}
@media (max-width: 1025px) {
  .nav__list {
    display: none;
  }
}
.nav__item-more {
  position: relative;
}
.nav__item-details {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  flex-direction: column;
  row-gap: 5px;
  padding: 15px;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
}
.nav__link {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  font-weight: 700;
  line-height: 1.6;
  padding: 5px;
  color: var(--color-dark);
}
@media (hover: hover) {
  .nav__link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .nav__link:active {
    color: var(--color-accent);
  }
}
.nav__link-more {
  cursor: pointer;
  transition-duration: var(--transition-duration);
  display: flex;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
}
@media (hover: hover) {
  .nav__link-more:hover .nav__item-details {
    display: flex;
  }
}
@media (hover: none) {
  .nav__link-more:active .nav__item-details {
    display: flex;
  }
}
.nav__buttons {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 1025px) {
  .nav__buttons {
    margin-inline: auto 20px;
  }
}
@media (max-width: 768px) {
  .nav__buttons {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */