* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

img {
  display: block;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url(../fonts/MontserratAlternates-Bold.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url(../fonts/MontserratAlternates-Medium.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --container-width: 1160px;
  --container-padding-x: 15px;
  --color-light: #FFFFFF;
  --color-light-alt: #F7EDE8;
  --color-gray: #4D4D4D;
  --color-dark: #000000;
  --color-accent: #CD4631;
  --color-blue: #81ADC8;
  --font-family-base: "Montserrat Alternates", sans-serif;
  --transition-duration: 0.3s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.display-heading {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.04em;
}

.h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
}
.h2--large {
  line-height: 1.4;
}

.h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.6;
}
.h3--bold {
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}
.text--bold {
  font-weight: 700;
}

.caption {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
}
.caption--bold {
  font-weight: 700;
}

.small {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6;
}
.small--bold {
  font-weight: 700;
}

body {
  font-family: var(--font-family-base);
}

a,
button {
  transition-duration: var(--transition-duration);
}

.button {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
  display: inline-block;
  line-height: 1.2;
  padding: 18px 34px;
  background-color: var(--color-dark);
  border-radius: 8px;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-dark);
  color: var(--color-light);
  text-transform: uppercase;
}
.button--small {
  padding: 10px 22px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}
.button--transparent {
  background-color: transparent;
  color: var(--color-dark);
  box-shadow: none;
}

.header {
  padding-block: 24px;
  background-color: var(--color-light-alt);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin-inline: 118px auto;
}
.nav__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  padding: 5px;
  color: var(--color-dark);
}
.nav__buttons {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}/*# sourceMappingURL=style.css.map */