html {
    scroll-behavior: smooth;
}

body {
    @include text;

    font-family: $font-family-base;
    color: $color-gray;
    overflow-x: hidden;
    background-color: $color-light;
}

a,
button {
    transition-duration: $transition-duration;
}