@mixin fluid-text($min, $max) {
    font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

@mixin display-heading {
    @include fluid-text(55, 96);
    
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.04em;
}

@mixin h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

@mixin h2 {
    @include fluid-text(25, 36);

    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;
}

@mixin h2-large {
    @include fluid-text(25, 36);

    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.02em;
}

@mixin h3 {
    @include fluid-text(18, 22);

    font-weight: 500;
    line-height: 1.6;
}

@mixin h3-bold {
    @include fluid-text(18, 22);

    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.02em;
}

@mixin text {
    @include fluid-text(14, 16);
    
    font-weight: 500;
    line-height: 1.6;
}

@mixin text-bold {
    @include fluid-text(14, 16);
    
    font-weight: 700;
    line-height: 1.6;
}

@mixin caption {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
}

@mixin caption-bold {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6;
}

@mixin small {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
}

@mixin small-bold {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.6;
}