:root {
    --container-width: 1160px;
    --container-padding-x: 15px;
    
    --color-light: #FFFFFF;
    --color-light-alt: #F7EDE8;
    --color-gray: #4D4D4D;
    --color-dark: #000000;
    --color-accent: #CD4631;
    --color-blue: #81ADC8;  

    --font-family-base: "Montserrat Alternates", sans-serif;

    --transition-duration: 0.3s;

    --border-radius: 8px;
    --border-radius--large: 12px;
}

$container-width: var(--container-width);
$container-padding-x: var(--container-padding-x);

$color-light: var(--color-light);
$color-light-alt: var(--color-light-alt);
$color-gray: var(--color-gray);
$color-dark: var(--color-dark);
$color-accent: var(--color-accent);
$color-blue: var(--color-blue);


$font-family-base: var(--font-family-base);

$transition-duration: var(--transition-duration);

$border-radius: var(--border-radius);
$border-radius--large: var(--border-radius--large);