.about {
    padding-block: $section-padding-y;

    &__heading {
        margin-bottom: 32px;
    }

    &__image {
        width: 100%;
        border-radius: $border-radius;
        margin-bottom: 60px;

        @include tablet {
            margin-bottom: 40px;
        }

        @include mobile {
            margin-bottom: 30px;
        }
    }
}