.article {
    padding-block: 100px 140px;
    display: flex;
    flex-direction: column;
    row-gap: 100px;

    @include tablet {
        padding-block: 80px 100px;
    }

    @include mobile {
        padding-block: 40px 60px;
    }

    @include tablet {
        row-gap: 80px;
    }

    @include mobile {
        row-gap: 60px;
    }

    &-image {
        width: 100%;
        height: auto;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 100px;
    }

    &__content {
        margin-bottom: 30px;
    }
}