.author {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: $color-dark;

    &__info {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    &__image {
        border-radius: 50%;
    }

    &__name {
        @include caption;
    }

    &__post {
        display: flex;
        align-items: center;
        column-gap: 10px;

        & span {
            @include caption-bold;
        }
    }
}