.benefits {
    position: relative;
    padding-block: $section-padding-y;
    text-align: center;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 100px;

        @include tablet {
            row-gap: 80px;
        }

        @include mobile {
            row-gap: 50px;
        }
    }

    &__title {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: -94px;
            right: -88px;
            width: 212px;
            height: 138px;
            background-image: url(../images/decor/decor-1.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @include mobile {
                display: none;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px 20px;

        @include tablet {
            row-gap: 60px;
        }

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 40px;
        }
    }

    &__item {
        max-width: 373px;

        &-icon {
            margin-inline: auto;
            margin-bottom: 30px;
        }

        &-title {
            @include h3-bold;

            margin-bottom: 10px;
            color: $color-dark;

            @include mobile {
                margin-bottom: 5px;
            }
        }

        &-text {
            @include text;
        }
    }
}