.categories {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    width: 100%;

    @include tablet {
        row-gap: 80px;
    }

    @include mobile {
        row-gap: 50px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        padding-bottom: 18px;
        border-bottom: 2px solid $color-gray;
        
        @include tablet {
            overflow-x: scroll; 
        }
    }

    &__button {
        @include h3;

        background-color: transparent;
        padding: 8px 16px;
        white-space: nowrap;

        @include hover {
            color: $color-accent;
        }

        &--active {
            color: $color-accent;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__item {
        justify-self: center;
    }

    &__item--hide {
        animation: hide 0.3s linear forwards;
    }
}

@keyframes hide {
    to {
        opacity: 0;
        display: none;
    }
}