.contact {
    position: relative;
    padding-block: $section-padding-y;

    &::before,
    &::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include desktop {
            display: none;
        }
    }

    &::before {
        left: 20px;
        bottom: 255px;
        width: 120px;
        height: 120px;
        background-image: url(../images/decor/spring.svg);
    }

    &::after {
        top: 327px;
        right: 140px;
        width: 78px;
        height: 78px;
        background-image: url(../images/decor/stars-shining.svg);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        max-width: 796px;

        @include tablet {
            row-gap: 40px;
        }
    }

    &__title {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: -23px;
            right: -35px;
            width: 70px;
            height: 32px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: url(../images/decor/scribble-4.svg);

            @include mobile {
                display: none;
            }
        }
    }

    &__form {
        padding-top: 40px;
        border-top: 1px solid $color-gray;
        display: flex;
        flex-direction: column;
        row-gap: 70px;

        @include mobile {
            row-gap: 50px;
            padding-top: 30px;
        }

        @include mobile-s {
            row-gap: 40px;
        }

        &-body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px 20px;

            @include tablet {
                gap: 30px 15px;
            }

            @include mobile-s {
                grid-template-columns: 1fr;
                row-gap: 20px
            }   
        }

        &-bottom {
            @include caption;

            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            color: $color-dark;

            @include mobile-s {
                flex-direction: column;
                row-gap: 20px;
            }
        }

        &-tip {

            & span {
                color: $color-accent;
            }
        }

        &-text {
            max-width: 175px;

            @include tablet {
                max-width: 140px;
            }

            @include mobile-s {
                text-align: center;
            }
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        @include mobile-s {
            row-gap: 10px
        }

        &-title {
            @include caption-bold;

            color: $color-dark;
        }

        & span {
            color: $color-accent;
        }
    }

    &__textarea {
        grid-column: span 2;
        row-gap: 25px;

        & textarea {
            min-height: 165px;
        }

        @include mobile-s {
            grid-column: 1;
            row-gap: 10px;
        }
    }

    &__button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @include mobile-s {
            position: relative;
            transform: translateX(0);
            left: 0;
            order: -1;  
        }
    }
}