.cover {
    position: relative;
    width: 472px;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: $border-radius;
    box-shadow: 12px 12px 0px 0px $color-blue;

    &--small {
        width: 372px;
        box-shadow: none;

        & .cover__title {
            @include h2-large;

            bottom: 20px;
            left: 20px;
            right: 20px;
        }

        & .cover__platforms {
            top: 20px;
            bottom: 20px;
            column-gap: 10px;
        }

        @include tablet {
            width: 250px;
        }
        
        @include mobile {
            width: 200px;
        }
    }

    &__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    &__platforms {
        position: absolute;
        top: 25px;
        right: 25px;
        display: flex;
        column-gap: 13px;
    }

    &__title {
        font-size: 46px;
        font-weight: 700;
        line-height: 1.4;
        text-align: left;
        position: absolute;
        bottom: 25px;
        left: 25px;
        right: 25px;
        color: $color-blue;
        letter-spacing: -0.08em;

        @include tablet {
            left: 15px;
            right: 15px;
            bottom: 15px;
        }
    }
}