.first-screen {
    padding-block: 40px 140px;

    @include tablet {
        padding-block: 30px 100px;
    }

    @include mobile {
        padding-block: 20px 60px;
    }

    &::after {
        width: 156px;
        height: 217px;
        background-image: url(../images/decor/stars-large.png);
        right: 58px;
        top: 113px;
    }

    &__content {
        max-width: 543px;
    }

    &__title {
        margin-bottom: 40px;

        @include tablet {
            margin-bottom: 20px;
        }
    }

    &__text {
        max-width: 300px;
        margin-inline: auto;
        margin-bottom: 60px;

        @include tablet {
            margin-bottom: 30px;
        }
    }

    &__button {
        padding: 22px 48px;
    }
}