.footer {
    padding-bottom: 80px;
    border-top: 1px solid $color-gray;

    @include mobile {
        padding-bottom: 40px;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        column-gap: 90px;
        padding-block: $section-padding-y;

        @include tablet {
            flex-wrap: wrap;
            row-gap: 50px;
            align-items: center;
        }

        @include mobile {
            row-gap: 40px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        max-width: 275px;
        width: 100%;

        @include tablet {
            row-gap: 20px;
        }

        &-top {
            display: flex;
            align-items: end;
            column-gap: 24px;
        }

        &-copyright {
            @include small;
        }

        &-text {
            @include caption;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        column-gap: 25px;
    }

    &__nav {
        display: flex;
        column-gap: 80px;

        @include tablet {
            column-gap: 60px;
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            @include mobile {
                row-gap: 10px;
            }
        }

        &-link {
            padding: 5px;
            color: $color-dark;

            @include hover {
                color: $color-accent;
            }
        }
    }

    &__platforms {
        max-width: 373px;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        
        @include tablet {
            row-gap: 30px;
        }
    }

    &__platform {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        @include tablet {
            row-gap: 20px;
        }

        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 38px;

            @include tablet {
                column-gap: 28px;
            }

            @include mobile-s {
                flex-direction: column;
                align-items: start;
                row-gap: 20px;
            }
        }

        &:nth-child(2) {
            row-gap: 20px;

            @include tablet {
                row-gap: 10px;
            }

            & .footer__platform-list {
                justify-content: start;
                column-gap: 20px;
                flex-direction: row;

                @include mobile-s {
                    row-gap: 10px;
                }
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 10px;
        padding-top: 20px;
        border-top: 1px solid $color-gray;

        @include mobile-s {
        }

        &-copyright {
            @include small;

            & span {
                color: $color-accent;
            }
        }

        &-links {
            display: flex;
            align-items: center;
            column-gap: 24px;
            @include small;

            &-item:not(:last-child) {
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: -12px;
                    width: 2px;
                    height: 2px;
                    border-radius: 50%;
                    background-color: currentColor;
                }
            }
        }

        &-link {
            color: $color-gray;

            @include hover {
                color: $color-accent;
            }
        }
    }
}