.header {
    padding-block: 24px 0;
    background-color: $color-light-alt;

    @include tablet {
        padding-block: 14px 0;
    }

    & .button--transparent {
        box-shadow: none;
    }
}