.heading {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @include tablet {
        row-gap: 10px
    }

    &__text {
        @include h3;
        
        color: $color-gray;
    }
}