.hosts {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;

    @include tablet {
        padding-top: 60px;
        row-gap: 50px
    }

    @include mobile {
        padding-top: 40px;
        row-gap: 30px;
    }

    &__title {
        @include h2-large;

        color: $color-dark;
        text-align: center;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -33px;
            right: -39px;
            width: 71px;
            height: 56px;
            background-image: url(../../images/decor/scribble-2-blue.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__items {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        max-width: 570px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        column-gap: 20px;

        @include desktop {
            max-width: 470px;
        }

        @include mobile {
            max-width: 400px;
        }

        &-decor {
            content: "";
            position: absolute;
            top: 16px;
            right: 16px;

            @include desktop {
                width: 100px;
                height: auto;
            }

            @include mobile {
                width: 80px;
            }
        }

        &-image {
            max-width: 260px;

            @include desktop {
                max-width: 200px;
            }

            @include mobile {
                max-width: 160px;
            }
        }

        &-info {
            max-width: 260px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

        &-heading {
            display: flex;
            flex-direction: column;
            row-gap: 6px;
        }

        &-post {
            @include caption;
        }

        &-name {
            @include h2;

            color: $color-dark;
        }

        &-text {
            @include caption;
        }

        &-bottom {
            display: flex;
            justify-content: end;
            align-items: center;
            column-gap: 20px;
            padding-top: 10px;
            border-top: 1px solid $color-gray;

            &-text {
                @include small-bold;
            }
        }

        &-socials {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }
    }
}