.nav {   
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        align-items: center;
        column-gap: 50px;
        margin-inline: 118px auto;

        @include tablet {
            display: none;
        }
    }

    &__item {

        &-more {
            position: relative;
        }

        &-details {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            display: none;
            flex-direction: column;
            row-gap: 5px;
            padding: 15px;
            background-color: $color-light;
            border-radius: $border-radius;
        }
    }

    &__link {
        @include text-bold;

        padding: 5px;
        color: $color-dark;

        @include hover {
            color: $color-accent;
        }

        &-more {
            cursor: pointer;
            transition-duration: $transition-duration;
            display: flex;
            align-items: center;
            column-gap: 4px;

            @include hover {
                & .nav__item-details {
                    display: flex;
                }
            }
        }
    }

    &__buttons {
        display: flex;
        column-gap: 20px;

        @include tablet {
            margin-inline: auto 20px;
        }

        @include mobile {
            display: none;
        }
    }
}