.podcast-top {
    position: relative;
    padding-block: 100px 40px;
    background-color: $color-light-alt;

    @include tablet {
        padding-block: 60px 30px;
    }

    @include mobile {
        padding-block: 40px 20px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 100px;
        margin-bottom: 80px;

        @include tablet {
            column-gap: 60px;
            margin-bottom: 50px;
        }

        @include mobile {
            flex-direction: column;
            row-gap: 60px;
            margin-bottom: 40px;
        }

        @include mobile-s {
            row-gap: 40px;
        }
    }

    &__cover {

        @include tablet {
            max-width: 372px;
        }

        @include mobile-s {
            box-shadow: none;
        }
    }

    &__content {
        max-width: 570px;
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        text-align: left;

        @include tablet {
            row-gap: 40px;
        }

        @include mobile {
            max-width: 420px;
        }
    }

    &__info {

        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
   
    &__heading {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        padding-bottom: 23px;
        margin-bottom: 20px;
        border-bottom: 1px solid $color-gray;

        @include tablet {
            margin-bottom: 15px;
            padding-bottom: 18px;
        }

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__number {
        font-weight: 700;
        color: $color-accent;
    }

    &__badge {
        @include small-bold;

        color: $color-accent;
        padding: 2px 5px;
        border: 1px solid currentColor;
        border-radius: 4px;
    }

    &__title {
        @include h2;

        color: $color-dark;
    }

    &__text {
        margin-bottom: 40px;

        @include desktop {
            margin-bottom: 20px;
        }
    }

    &__author {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;

        &-image {
            border-radius: 50%;
        }

        &-info {
            @include caption;
        }

        &-name {
            font-weight: 700;
            color: $color-accent;
        }
    }

    &__date {
        @include caption;
    }

    &__buttons {
        display: flex;
        align-items: start;
        column-gap: 20px;
        row-gap: 10px;
        flex-wrap: wrap;
    }

    &__button {
        display: flex;
        align-items: center;
        column-gap: 10px;

        &-highlighted {
            color: $color-accent;
            text-transform: uppercase;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        column-gap: 60px;

        @include mobile {
            max-width: 420px;
            margin-inline: auto;
        }

        &-text {
            @include caption-bold;
        }
    }

    &__tag {
        @include caption;
    }
}