.pricing {
    position: relative;
    padding-block: $section-padding-y;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 100px;

        @include tablet {
            row-gap: 80px;
        }

        @include mobile {
            row-gap: 50px;
        }
    }

    &__title {
        position: relative;

        &::before {
            content: "";
            position: absolute; 
            top: -33px;
            left: -45px;
            width: 64px;
            height: 62px;
            background-image: url(../images/decor/sparkle.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @include mobile {
                display: none;
            }
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        position: relative;

        @include tablet {
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 20px;
        }
        
        @include mobile {
            row-gap: 30px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @include desktop {
                display: none;
            }
        }

        &::before {
            width: 120px;
            height: 120px;
            left: -70px;
            bottom: -40px;
            background-image: url(../images/decor/swirl-blue.svg);
            z-index: 1;
        }

        &::after {
            width: 147px;
            height: 153px;
            top: -68px;
            right: -75px;
            background-image: url(../images/decor/star.svg);
            z-index: 1;
        }
    }

    &__item {
        max-width: 373px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        z-index: 2;

        @include mobile {
            row-gap: 10px;
        }

        &:first-child {
            & .pricing__benefits-item:first-child {
                font-weight: 400;
            }
        }

        &--popular {
            & .pricing__item-inner {
                border-color: $color-accent;
                background-color: $color-light-alt;
            }
        }

        &-inner {
            padding: 39px;
            border: 2px solid $color-dark;
            border-radius: $border-radius;
            background-color: $color-light;

            @include tablet {
                padding: 25px;
            }
        }

        &-title {
            @include h2-large;

            color: $color-dark;
        }

        &-badge {
            @include small-bold;

            color: $color-light;
            padding: 3px 6px;
            background-color: $color-accent;
            border-radius: $border-radius;
        }

        &-text {
            @include caption;
        }

        &-price {
            @include caption-bold;

            & span {
                @include h3-bold;

                color: $color-accent;
            }
        }
    }

    &__content {
        min-height: 357px;
        padding-block: 60px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 20px;

        @include tablet {
            padding-block: 40px 20px;
            min-height: 300px;
        }

        &-top,
        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-middle {
            margin-bottom: auto;
        }
    }

    &__benefits {
        min-height: 312px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        row-gap: 20px;

        @include tablet {
            min-height: 250px;
        }

        &-title {
            @include caption-bold
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            color: $color-dark;
        }

        &-item {
            position: relative;
            padding-left: 10px;

            &:first-child {
                font-weight: 700;
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 3px;
                height: 3px;
                background-color: currentColor;
                border-radius: 50%;
            }
        }
    }
}