.quote {
    position: relative;
    padding-block: 40px;
    background-color: $color-light-alt;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;

    @include mobile {
        padding: 30px;
        row-gap: 20px;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include desktop {
        display: none;
        }
    }

    &:before {
        bottom: 53px;
        left: -60px;
        width: 120px;
        height: 120px;
        background-image: url(../images/decor/spring.svg);
    }

    &::after {
        top: -55px;
        right: -46px;
        width: 147px;
        height: 153px;
        background-image: url(../images/decor/star.svg);
    }

    &__content {
        text-align: center;
    }

    &__icon {
        @include display-heading;

        letter-spacing: -0.02em;
        color: $color-accent;
    }

    &__text {
        @include h2-large;

        max-width: 670px;
        color: $color-dark;
        
        @include tablet {
            max-width: 500px;
        }
    }

    &__author {

        @include mobile-s {
            flex-direction: column;
            row-gap: 10px;
        }
    }
}